<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/admin-script.js"></script>

<body>
    
    
    <div class="admin-container">

        <h1 id="admin-titre">Administration</h1>
        <br>
        <form class="admin-form" action="/update-info" method="post">
            <div class="accordion-toggle">
                <h2>Infos<span class="arrow">▼</span> </h2> 
            </div>
            <div class="accordion-content">
                <% info.forEach(function(item) { %>
                    <div class="changement">
                        <label class="label-for" for="disponibilite_<%= item.disponibilite %>">Disponibility:</label>
                        <input type="text" id="disponibilte_info" name="disponibilite" value="<%= item.disponibilite%>" required>
                    </div>

                    <div class="changement">
                        <label class="label-for" for="position_<%= item.position %>">Position:</label>
                        <input type="text" id="position_info" name="position" value="<%= item.position %>" required>
                    </div>

                    <div class="changement">
                        <label class="label-for" for="synopsis_<%= item.synopsis %>">Synopsis:</label>
                        <textarea type="text" id="synopsis_info" name="synopsis" rows="4" value="<%= item.synopsis %>" required> <%= item.synopsis %> </textarea>
                    </div>
                    
                    <div class="changement">
                        <label class="label-for" for="email_<%= item.email %>">E-mail:</label>
                        <input type="text" id="email_info" name="email" value="<%= item.email %>" required>
                    </div>

                    <div class="changement">
                        <label class="label-for" for="number_<%= item.number %>">Phone number:</label>
                        <input type="text" id="number_info" name="number" value="<%= item.number %>" required>
                    </div>

                    <div class="changement">
                        <label class="label-for" for="website_<%= item.website %>">Website:</label>
                        <input type="text" id="website_info" name="website" value="<%= item.website %>" required>
                    </div>

                <% }); %>
                <div class="submit-button">
                    <button type="submit">Update</button>
                </div>
            </div>

        </form>

        <form class="admin-form" action="/update-education" method="post">
            <div class="accordion-toggle">
                <h2>Education<span class="arrow">▼</span> </h2> 
            </div>
            <div class="accordion-content">


                <% education.forEach(function(edu) { %>

                    <input type="hidden" name="updatedEducation[<%= edu.id %>][id]" value="<%= edu.id %>">

                    <div class="changement">
                        <label class="label-for" for="<%= edu.education_title %>">Title:</label>
                        <input type="text" id="education_title" name="updatedEducation[<%= edu.id %>][title]" value="<%= edu.education_title %>" required>
                    </div>

                    <div class="changement">
                        <label class="label-for" for="<%= edu.education_description %>">Description:</label>
                        <textarea type="text" id="education_description" name="updatedEducation[<%= edu.id %>][description]" rows="2" value="<%= edu.education_description %>" required> <%= edu.education_description %> </textarea>
                    </div>

                    <br>
                    <span class="grey-line"></span>
                    <br>

                <% }); %>
                
                <div class="submit-button">
                    <button type="button" id="add-education-button">Add New Education</button>
                </div>

                <div class="education-entry-template">
                    <div class="changement">
                        <label class="label-for" for="newEducation">Title:</label>
                        <input type="text" id="new_education_title" name="newEducation[title]">
                    </div>

                    <div class="changement">
                        <label class="label-for" for="newEducation">Description:</label>
                        <textarea id="new_education_description" name="newEducation[description]" rows="2"></textarea>
                    </div>

                    <br>
                    <span class="grey-line"></span>
                    <br>
                </div>

                
                <div id="new-education"></div>

                <div class="submit-button">
                    <button type="submit">Update</button>
                </div>
            </div>
        </form>

        <form class="admin-form" action="/update-experience" method="post">
            <div class="accordion-toggle">
                <h2>Experiences<span class="arrow">▼</span> </h2> 
            </div>
            <div class="accordion-content">

                <% experience.forEach(function(exp) { %>

                    <input type="hidden" name="updatedExperience[<%= exp.id %>][id]" value="<%= exp.id %>">

                    <div class="changement">
                        <label class="label-for" for="<%= exp.title %>">Title:</label>
                        <input type="text" id="experience_title" name="updatedExperience[<%= exp.id %>][title]" value="<%= exp.title %>" required>
                    </div>

                    <div class="changement">
                        <label class="label-for" for="<%= exp.location %>">Location:</label>
                        <textarea type="text" id="experience_location" name="updatedExperience[<%= exp.id %>][location]" rows="2" value="<%= exp.location %>" required> <%= exp.location %> </textarea>
                    </div>

                    <div class="changement">
                        <label class="label-for" for="<%= exp.description %>">Description:</label>
                        <textarea type="text" id="experience_description" name="updatedExperience[<%= exp.id %>][description]" rows="2" value="<%= exp.description %>" required> <%= exp.description %> </textarea>
                    </div>

                    <br>
                    <span class="grey-line"></span>
                    <br>

                <% }); %>
                
                <div class="submit-button">
                    <button type="button" id="add-experience-button">Add New Experiences</button>
                </div>


                <div class="experience-entry-template">
                    <div class="changement">
                        <label class="label-for" for="newExperience">Title:</label>
                        <input type="text" id="new_experience_title" name="newExperience[title]">
                    </div>

                    <div class="changement">
                        <label class="label-for" for="newExperience">Location:</label>
                        <input type="text" id="new_experience_location" name="newExperience[location]">
                    </div>

                    <div class="changement">
                        <label class="label-for" for="newExperience">Description:</label>
                        <textarea id="new_experience_description" name="newExperience[description]" rows="2"></textarea>
                    </div>
                    <br>
                    <span class="grey-line"></span>
                    <br>
                </div>
                
                <div id="new-experience"></div>

                <div class="submit-button">
                    <button type="submit">Update</button>
                </div>
            </div>
        </form>



        <form class="admin-form" action="/update-certificates" method="post">
            <div class="accordion-toggle">
                <h2>Certificates<span class="arrow">▼</span> </h2> 
            </div>
            <div class="accordion-content">

                <% certificates.forEach(function(certi) { %>

                    <input type="hidden" name="updatedCertificate[<%= certi.id %>][id]" value="<%= certi.id %>">

                    <div class="changement">
                        <label class="label-for" for="<%= certi.certificates_title %>">Title:</label>
                        <input type="text" id="certificate_title" name="updatedCertificate[<%= certi.id %>][title]" value="<%= certi.certificates_title %>" required>
                    </div>

                    <div class="changement">
                        <label class="label-for" for="<%= certi.certificates_description %>">Description:</label>
                        <textarea type="text" id="certificate_description" name="updatedCertificate[<%= certi.id %>][description]" rows="2" value="<%= certi.certificates_description %>" required> <%= certi.certificates_description %> </textarea>
                    </div>

                    <br>
                    <span class="grey-line"></span>
                    <br>

                <% }); %>
                
                <div class="submit-button">
                    <button type="button" id="add-certificates-button">Add New Certificates</button>
                </div>


                <div class="certificates-entry-template">
                    <div class="changement">
                        <label class="label-for" for="newCertificate">Title:</label>
                        <input type="text" id="new_certificate_title" name="newCertificate[title]">
                    </div>


                    <div class="changement">
                        <label class="label-for" for="newCertificate">Description:</label>
                        <textarea id="new_certificate_description" name="newCertificate[description]" rows="2"></textarea>
                    </div>
                    <br>
                    <span class="grey-line"></span>
                    <br>
                </div>
                
                <div id="new-certificate"></div>

                <div class="submit-button">
                    <button type="submit">Update</button>
                </div>
            </div>
        </form>
            
    </div>
    
</body>
</html>
