<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CV - Raphael Soupaya Valliama</title>

        <!-- <link id="theme" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}"> -->
        <link id="theme" rel="stylesheet" type="text/css" href="/styles.css"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
        <script src="/script.js"></script>
        
    </head>

    <body>
      <div id="wrap-top">
        <div id="container1">
          <div id="en-tete">
            <div class="button-container">
              
              <audio id="song"  src="/images/music.mp3" type="audio/mp3"></audio>
              <button class="button button-lecture">Lecture</button>
              <a href="https://www.linkedin.com/in/raphael-soupaya-valliama-928a32289/" class="button button-plus-infos" target="_blank">More infos</a>
            </div>

            <h1 class="name"> Raphael <span id="nom"> Soupaya Valliama </span></h1>
              <% info.forEach(function(item) { %>
                <p class="rainbow position"> <%= item.position %> </p>
              <% }); %>

              <div id="top10">
                <img src="/images/top10.png" alt="Top 10"> <p class="rainbow top10txt"> 100% Recommended </p> 
              </div>
              <% info.forEach(function(item) { %>
                <p class="disponibilite"> <%= item.disponibilite %> </p>
              <% }); %>
          </div>
          <img id="pdp" src="/images/tete-removebg.png" alt="Photo de profil"> 
        </div>

        <div id="button-container">
          <div class="button-wrapper">
            <a href="/login" target="_blank">
              <button class="button button-login">Login</button>
            </a>
          </div>

          <div class="button-wrapper">
            <buttin id="downloadCvButton" class="button button-download" onclick="downloadPDF()">Download</buttin>
          </div>
        </div>
      </div>


      <div id="container2">

        <div id="colonne-gauche">

          <div class="bloc">
            <h1 class="categorie-gauche rainbow">SYNOPSIS</h1>
              <% info.forEach(function(item) { %>
                  <p class="texte-gauche rainbow synopsis"> <%= item.synopsis %> </p>
                <% }); %>
          </div>
        
        
          <div class="bloc">
            <h1 class="categorie-gauche rainbow">EDUCATION</h1>
            <% education.forEach(edu => { %>
              <div class="element">
                <h4 class="titre-gauche rainbow"><%= edu.education_title %></h4>
                <p class="texte-gauche rainbow"><%= edu.education_description %></p>
              </div>
            <% }) %>
          </div>
          
              
            <div class="bloc">
              <h1 class="categorie-gauche rainbow">INTEREST</h1>
              <div class="element">
                <ul>
                  <% interest.forEach(inter => { %>
                    <li class="interet rainbow"><%= inter.interest_name %></li> 
                  <% }) %>
                </ul>
              </div>
            </div>

        
            <div class="bloc">
              <h1 class="categorie-gauche rainbow">CERTIFICATES</h1>
              <% certificates.forEach(certif => { %>
                <div class="element certif">
                  <h4 class="titre-gauche rainbow certificates-title"><%= certif.certificates_title %></h4>
                  <p class="texte-gauche rainbow certificates-desc"><%= certif.certificates_description %></p>
                </div>
              <% }) %>
            </div>
        </div>
        
          
            <div id="colonne-droite">

                <div class="bloc">
                    <h1 class="categorie-droite rainbow"> EXPERIENCES </h1>
                    <% experience.forEach(exp => { %>
                        <div class="element XP">
                          <h3 class="rainbow"><%= exp.title %></h3>
                          <h4 class="rainbow"><%= exp.location %></h4>
                          <p class="texte-droite rainbow"><%= exp.description %></p>
                        </div>
                      <% }) %>
                </div>
                

                <div class="bloc">
                    <h1 class="categorie-droite rainbow"> SKILLS </h1>
                    <% skills.forEach(skill => { %>
                        <div class="element">
                          <h3 class="rainbow skill-name"><%= skill.skills_name %> :</h3>
                          <% for(let i = 0; i < skill.skill_level; i++) { %>
                            <span class="fa fa-star checked"></span>
                          <% } %>
                          <% for(let i = skill.skill_level; i < 5; i++) { %>
                            <span class="fa fa-star unchecked"></span>
                          <% } %>
                        </div>
                      <% }) %>
                    </div>


                
                <div class="bloc">
                    <h1 class="categorie-droite rainbow"> EXPERTISE </h1>

                    <ul>
                        <% expertise.forEach(exp => { %>
                            <li class="expertise rainbow"><%= exp.expertise_name %></li> 
                          <% }) %>
                    </ul>
                </div>
            </div>

        </div>

        <div id="container3">
            <h1 class="categorie-bas rainbow">CONTACTS</h1>
            <div id="contact">
              <% info.forEach(function(item) { %>
                <p class="texte-bas rainbow"><%= item.number %></p>
                <a class="texte-bas rainbow" href="mailto:<%= item.email %>"><%= item.email %></a>
                <a class="texte-bas rainbow" href="<%= item.website %>" target="_blank">esiroi.univ-reunion.fr/</a>
            <%}); %>
              
            </div>
        </div>  
    </body>
</html>
